{% extends 'administrator/layouts/main.html' %}

{% block form %}
<h1>New user</h1>
<form id="create-user" method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>

<h1>New group</h1>
<form id="create-group" method="POST" class="post-form">{% csrf_token %}
    {{ group_form.as_p }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>
<div id="info">

</div>

<script type="text/javascript">
    let frm = $('#create-user');
    let select = document.querySelectorAll('#create-user select')[0];

    frm.submit(function () {
        $.ajax({
            type: "POST",
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                console.log(data);
                // $("#info").html(data);
            },
            error: function(data) {
                $("#info").html("Something went wrong!");
            }
        });
        return false;
    });

    let group = $('#create-group');
    group.submit(function () {
        $.ajax({
            type: "POST",
            url: '/administrator/groups/create/',
            data: group.serialize(),
            success: function (data) {
                let opt = document.createElement('option');
                opt.value = data.id;
                opt.innerHTML = data.name;
                select.appendChild(opt);
            },
            error: function(data) {
                $("#info").html("Something went wrong!");
            }
        });
        return false;
    });
</script>
{% endblock %}